/* Footer */
footer { width: calc(100% - 10px); padding: 0 10px; background-color: lightgray; position: fixed; bottom: 0; left: 0; clear: both; z-index: 10; }
footer ul { padding: 0; margin: 0; display: block; }

/* Utils */
.gray { color: #bbb }
.cyan { color: darkcyan }
.error { color: darkorange }
.text-center { text-align: center}

/* Common */
.loading { margin-top: 10px; }
.loading img { width: 120px; }
.counter { background: #bbb; color: white; border-radius: 6px; padding: 2px 6px; font-size: 0.8em; margin-left: 4px; }

/* Titles */
h1.title { color: gray }
h3.title { color: darkcyan }

/* Buttons */
.btn { align-self: flex-start; border: 0; border-radius: 4px; font: inherit; font-weight: normal;
    font-size: 1.1em; padding: .3em 1em; color: white; background-color: darkcyan; cursor: pointer}
.btn .fa { font-size: .8em; margin-right: 5px; }

/* Forms */
input[type="text"] { appearance: none; box-shadow: none; border-radius: 4px; padding: 7px;
    border: solid 1px #dcdcdc; transition: box-shadow 0.3s, border 0.3s;  }
input[type="text"]:focus { outline: none; border: solid 1px #707070; box-shadow: 0 0 5px 1px #969696; }
input[type="file"] { display: none; }
.custom-file-upload { border: 1px solid #ccc; border-radius: 4px; display: inline-block; padding: 6px 12px;
    cursor: pointer; }
.input-size-m { width: 65% }

/* Tree list */
.sub-folder { padding-left: 10px; margin-left: 10px; }
.tree .title { margin-bottom: 0 }
.tree ul { list-style: none; padding-left: 5px; margin-top: 12px }
.tree ul li { padding-left: 16px; position: relative; box-sizing: border-box; }
.tree ul li:before { content: ''; height: 1px; width: 10px; background-color: #bbb;
    position: absolute; top: 10px; left: 0; margin: auto; }
.tree ul li:after { content: ''; width: 1px; height: 100%; background-color: #bbb;
    position: absolute; top: 0; bottom: 0; left: 0; }
.tree ul li:last-child:after { height: 10px; }
